.btn-save {
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 88px;
    height: 44px;
    background-color: #FEA013;
    border: none;
    outline: none;
    padding: 12px 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.btn-save:hover {
    background-color: #BA4A0C;
}
.btn-save:active {
    background-color: #2D2D2D;
}

.mark {
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-weight: 500;
    font-size: 14px;
    color: #707070;
}

.modal-body {
    position: relative;
    .button-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        .btn-cancel {
            cursor: pointer;
            border: 1px solid #494949;
            border-radius: 8px;
            background-color: rgba(0,0,0,0);
            width: 90px;
            height: 44px;
            color: #CBCBCB;
            font-weight: 500;
            font-size: 14px;
        }
        .btn-delete {
            cursor: pointer;
            border: 1px solid #D23131;
            border-radius: 8px;
            background-color: #D23131;
            width: 90px;
            height: 44px;
            color: #CBCBCB;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .action-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #2D2D2D;
        padding: 10px 0px;
        cursor: pointer;
        .text-btn {
            font-weight: 500;
            font-size: 14px;
            color: #CBCBCB;
        }
    }
    .action-btn:hover {
        border: 1px solid #CBCBCB;
    }
    .alert-wrapper {
        padding: 10px 0px;
        .text-btn {
            font-weight: 400;
            font-size: 14px;
            color: #CBCBCB;
        }
    }
    .change-container {
        display: flex;
        gap: 10px;
        .btn-save {
            background-color: #FEA013;
            border: none;
            outline: none;
            padding: 12px 20px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
        }
        .btn-save:hover {
            background-color: #BA4A0C;
        }
        .btn-save:active {
            background-color: #2D2D2D;
        }
        input {
            height: 40px;
            background-color: #222222;
            border: none;
            outline: none;
            color: #F8F8F8;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            ::placeholder{
                color: #999999;
            }
        }
    }
    .error-wrapper {
        border: 1px solid #D23131!important;
    }
    .error-wrapper-select {
        border-left: 1px solid #D23131!important;
    }
    .selected-wrapper {
        background-color: #333333;
    }
    .browse-wrapper {
        margin: 16px 0px;
        border: 1px solid #494949;
        height: 44px;
        width: 340px;
        display: flex;
        border-radius: 8px;
        justify-content: space-between;
        .file-upload {
            cursor: pointer;
            border-left: 1px solid #494949;
            border-radius: 8px;
            padding: 12px 20px;

            color: #cbcbcb;
            font-weight: 500;
            font-size: 14px;
        }
        .file-upload:hover .selected-file {
            color: #CBCBCB;
        }


        .file-upload input {
            overflow: hidden;
            width: 0;
        }
        .selected-file {
            border-radius: 8px;
            width: 200px;
            padding: 12px 0px 12px 20px;
            font-weight: 500;
            font-size: 14px;
            color: #999999;
        }
    }
}

.error {
    color: #D23131;
    font-weight: 500;
    font-size: 14px;
    display: block;
    line-height: 21px;
}

.tip {
    display: block;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 21px;
}

table {
    width: 100%;
    thead {
        th {
            padding-bottom: 15px;
            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #CBCBCB;
        }
    }
    tbody {
        color: #CBCBCB;
        font-weight: 600;
        font-size: 16px;
        td {
            align-items: center;
            height: 35px;
        }
        td:first-child {
            display: flex;
            gap: 5px;
        }
    }
}

.subtitle-2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 14px;
    color: #F8F8F8;
}