.header {
    margin-bottom: 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .title-header{
        .title {
            color: #FEA013;
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }

        .sub-title {
            color: white;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
    }
    .action-header {
        display: flex;
        gap: 8px;
        .input-wrapper {
            height: 42px;
            width: 218px;
            border-radius: 8px;
            border: 1px solid #494949;
            padding: 0px 15px;
            display: flex;
            gap: 10px;
            align-items: center;

            input {
                background-color: #222222;
                border: none;
                outline: none;
                color: #F8F8F8;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                ::placeholder{
                    color: #999999;
            }
            }
        }
        .btn-import {
            width: 132px;
            height: 44px;
            background-color: #FEA013;
            border: none;
            outline: none;
            padding: 12px 20px;
            border-radius: 8px;
            color: white;
        }
        .btn-import:hover {
            cursor: pointer;
        }
    }

}

.board {
    background-color: #2D2D2D;
    height: calc(100% - 92px);
    width: calc(100% - 40px);
    padding: 20px;

    table {
        width: 100%;
        th {
            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #CBCBCB;
        }
        tbody {

        }
    }
    .empty-board {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        .empty {
            color: #CBCBCB;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            display: block;
        }
        .import-link {
            text-decoration: none;
        }
        .import {
            color: #FEA013;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.Modal {
    width: 752px;
    height: 564px;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #2D2D2D;
    border: none;
    box-shadow: 0px 12px 28px rgba(22, 22, 22, 0.5);
    border-radius: 8px;
    padding: 18px 24px;
    .btn-close {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2D2D2D;
        border: none;
        position: absolute;
        right: 24px;
        top: 20px;
        border: 1px solid #2D2D2D;
    }
    .btn-close:hover {
        cursor: pointer;
        border: 1px solid #999999;
    }
    .modal-header {
        border-bottom: 1px solid #494949;
        padding-bottom: 15px;
        .header-title {
            color: #F8F8F8;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
        }
    }
    .modal-body {
        margin-top: 24px;
        .subtitle {
            font-weight: 500;
            font-size: 14px;
            color: #F8F8F8;
        }
    }
}

.ReactModalPortal{
    .ReactModal__Overlay--after-open {
        background-color: rgba(255,255,255, 0.3)!important;
    }
}